build/
test_results/
.cache/
!cppcheck_suppressions.txt
!clang_tidy_suppressions.txt
compile_commands.json
.env
tools/*.html
.vscode/browse.vc*
.vscode/
res/sprites/
tools/__pycache__
*.plist
bin/
*.txt
*.log
